a {
    color: #055C9D;
    text-decoration: none;
}

section {
    margin-top: 20px;
}

.equation-container {
  width: 102%; /* Set the width of the container, adjust as needed */
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: hidden;
  white-space: nowrap; /* Keeps the equation in a single line */
}

.abstract {
  text-align: justify;
  /* padding: 0 2% 0 2%; */
}

.paperpage-title {
  font-weight: bold;
  color: #055C9D;
}

.author {
  font-size: 14pt;
    font-weight: bold;
    color: #636566;
    margin-top: 2px;
    padding: 0px;
}

.team-name {
    font-size: 14pt;
    font-weight: bold;
    color: #055C9D;
    margin-top: 2px;
    padding: 0px;
}

.team-role {
  padding: 0px;
  /* margin-top: -20px; */
}

.bibtex-container {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 10px;
  font-size: 12pt;
  user-select: text;
  font-family: monospace;
}

.icon {
    width: 40px;
    height: 40px;
}

.venue {
  color: #26BF2B;
}


.favourite {
  color: #26BF2B;
}

.project {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-align: start;
}
.pico {
  float: left;
  margin-right: 10px;
}
.pdesc {
  
}

.pdesc ul {
  padding-left: 9em;
}

.pend {
  clear: both;
}
.pico img {
  width: 120px;
  border-radius: 5px;
  border: 1px solid #999;
}

img.rounded {
    object-fit: cover;
    width: 240px;
    height: 240px;
    border-radius: 120px;
}

.button {
    background-color: white;
    cursor: pointer;
    border: none;
    /* color: #055C9D; */
    color: #000000;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    text-align: center;
    font-family: Optima;
    font-size: 12pt;
  }

  .post-entry {
    border-left: 4px solid #aaa;
    padding: 2px 0px 2px 10px;
    margin-bottom: 10px;
  }

/* Colors */
.color-blue {
  color: rgb(65,105,225);
  font-style: normal;
}

.color-green {
  color: rgb(74,103,65);
  font-style: normal;
}

.color-red {
  color: rgb(178,34,34);
  font-style: normal;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  text-align: right;
}
.menu-list li {
  margin: 5px 0;
  color: #055C9D;
}
.menu-list li:hover {
  text-decoration: underline;
  cursor: pointer;
}

#dynamic-content {
  text-align: left;
}

.highlight {
    background-color: hwb(30 96% 0%);   /* light blue */
    padding: 4px 8px;            /* optional: gives it some breathing room */
    border-radius: 4px;          /* optional: slightly rounded corners */
}

.highlight .button {
    background-color: transparent;
}